layout {
    // pane size=1 borderless=true {
    //     plugin location="tab-bar"
    // }
    // 아이콘 참조: https://www.nerdfonts.com/cheat-sheet > 검색 > icon 복사
    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
            // formatting can be done with #[..]
            // widgets and properties are surrounded by {..}

            // -- Catppuccin Mocha --
            color_rosewater "#f5e0dc"
            color_flamingo "#f2cdcd"
            color_pink "#f5c2e7"
            color_mauve "#cba6f7"
            color_red "#f38ba8"
            color_maroon "#eba0ac"
            color_peach "#fab387"
            color_yellow "#f9e2af"
            color_green "#a6e3a1"
            color_teal "#94e2d5"
            color_sky "#89dceb"
            color_sapphire "#74c7ec"
            color_blue "#89b4fa"
            color_lavender "#b4befe"
            color_text "#cdd6f4"
            color_subtext1 "#bac2de"
            color_subtext0 "#a6adc8"
            color_overlay2 "#9399b2"
            color_overlay1 "#7f849c"
            color_overlay0 "#6c7086"
            color_surface2 "#585b70"
            color_surface1 "#45475a"
            color_surface0 "#313244"
            color_bg0 "#000000"
            color_base "#1e1e2e"
            color_mantle "#181825"
            color_crust "#11111b"

            format_left   "#[bg=$bg0,fg=$sapphire]#[bg=$sapphire,fg=$crust,bold] zellij ({session}) #[bg=$bg0] {mode}#[bg=$bg0] {tabs}"
            format_center "{notifications}"
            format_right "{command_cpu}{command_mem}{command_disk}{command_user}{datetime}"
            format_space  "#[bg=$bg0]"
            format_hide_on_overlength "true"
            format_precedence "lrc"

            border_enabled  "false"
            border_char     "─"
            border_format   "#[bg=$bg0]{char}"
            border_position "top"

            hide_frame_for_single_pane "false"

            mode_normal        "#[bg=$green,fg=$crust,bold] NORMAL#[bg=$bg0,fg=$green]"
            mode_tmux          "#[bg=$mauve,fg=$crust,bold] TMUX#[bg=$bg0,fg=$mauve]"
            mode_locked        "#[bg=$red,fg=$crust,bold] LOCKED#[bg=$bg0,fg=$red]"
            mode_pane          "#[bg=$teal,fg=$crust,bold] PANE#[bg=$bg0,fg=teal]"
            mode_tab           "#[bg=$teal,fg=$crust,bold] TAB#[bg=$bg0,fg=$teal]"
            mode_scroll        "#[bg=$flamingo,fg=$crust,bold] SCROLL#[bg=$bg0,fg=$flamingo]"
            mode_enter_search  "#[bg=$flamingo,fg=$crust,bold] ENT-SEARCH#[bg=$surfaco,fg=$flamingo]"
            mode_search        "#[bg=$flamingo,fg=$crust,bold] SEARCHARCH#[bg=$surfac0,fg=$flamingo]"
            mode_resize        "#[bg=$yellow,fg=$crust,bold] RESIZE#[bg=$surfac0,fg=$yellow]"
            mode_rename_tab    "#[bg=$yellow,fg=$crust,bold] RENAME-TAB#[bg=$bg0,fg=$yellow]"
            mode_rename_pane   "#[bg=$yellow,fg=$crust,bold] RENAME-PANE#[bg=$bg0,fg=$yellow]"
            mode_move          "#[bg=$yellow,fg=$crust,bold] MOVE#[bg=$bg0,fg=$yellow]"
            mode_session       "#[bg=$pink,fg=$crust,bold] SESSION#[bg=$bg0,fg=$pink]"
            mode_prompt        "#[bg=$pink,fg=$crust,bold] PROMPT#[bg=$bg0,fg=$pink]"

            tab_normal              "#[bg=$bg0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{floating_indicator}#[bg=$bg0,fg=$surface1]"
            tab_normal_fullscreen   "#[bg=$bg0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{fullscreen_indicator}#[bg=$bg0,fg=$surface1]"
            tab_normal_sync         "#[bg=$bg0,fg=$blue]#[bg=$blue,fg=$crust,bold]{index} #[bg=$surface1,fg=$blue,bold] {name}{sync_indicator}#[bg=$bg0,fg=$surface1]"
            tab_active              "#[bg=$bg0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{floating_indicator}#[bg=$bg0,fg=$surface1]"
            tab_active_fullscreen   "#[bg=$bg0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{fullscreen_indicator}#[bg=$bg0,fg=$surface1]"
            tab_active_sync         "#[bg=$bg0,fg=$peach]#[bg=$peach,fg=$crust,bold]{index} #[bg=$surface1,fg=$peach,bold] {name}{sync_indicator}#[bg=$bg0,fg=$surface1]"
            tab_separator           "#[bg=$bg0] "

            tab_sync_indicator       " "
            tab_fullscreen_indicator " 󰊓"
            tab_floating_indicator   " 󰹙"

            notification_format_unread "#[bg=bg0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[bg=$bg0,fg=$yellow]"
            notification_format_no_notifications ""
            notification_show_interval "10"

            // interval in seconds, between two command runs
            // Set to "0" for running the command once. Only non-negative integers are allowed.
            // top -l 0 은 중지 없이 계속 샘플링한다.
            // top -l 1 로 샘플링을 한번 했는데 terminal buffer, redraw 등의 이유로 mac OS 에서 top 이 안끝는 경우 발생
            // pid,command,cpu 등의 최소 컬럼만 표시되도록 한다.
            // timeout 으로 1초를 넘기면 종료하도록 한다.
            // timeout 명령어는 brew install coreutil 로 설치
            command_cpu_command    "timeout 1 bash -c \"top -l 1 -stats pid,command,cpu | awk '/CPU usage/ {print $3}'\""
            command_cpu_format     "#[bg=$bg0,fg=$red]#[fg=$crust,bg=$red] #[bg=$surface1,fg=$red,bold] {stdout}#[bg=$bg0,fg=$surface1]"
            command_cpu_interval   "5"
            command_cpu_rendermode "static"


            // mac 에선 cache/buffer 가 포함된 메모리로 실제 사용메모리 보다 크게 보인다.
            command_mem_command    "timeout 1 bash -c \"(source ~/workspace/myenv/sysinfo.sh && mac_used_mem) || top -l 1 -stats pid,command,cpu | awk '/PhysMem/ {print $2,$3}'\""
            // mac_used_mem()에서 cache/buffer 를 제외한 사용 메모리 계산
            command_mem_format     "#[bg=$bg0,fg=$green]#[fg=$crust,bg=$green] #[bg=$surface1,fg=$green,bold] {stdout}#[bg=$bg0,fg=$surface1]"
            command_mem_interval   "10"
            command_mem_rendermode "static"

            command_disk_command    "timeout 1 bash -c \"df -h / | awk 'NR==2 {print $4}'\""
            command_disk_format     "#[bg=$bg0,fg=$sky]#[fg=$crust,bg=$sky]󰋊 #[bg=$surface1,fg=$sky,bold] {stdout} avail#[bg=$bg0,fg=$surface1]"
            command_disk_interval   "60"
            command_disk_rendermode "static"

            // host 에 민감정보가 있을 수 있어 사용 안함
            // command_host_command    "uname -n"
            // command_host_format     "{stdout}"
            // command_host_interval   "0"
            // command_host_rendermode "static"

            command_user_command    "timeout 1 bash -c \"whoami\""
            command_user_format     "#[bg=$bg0,fg=$flamingo]#[fg=$crust,bg=$flamingo]󰀄 #[bg=$surface1,fg=$flamingo,bold] {stdout}#[bg=$bg0,fg=$surface1]"
            command_user_interval   "10"
            command_user_rendermode "static"

            // datetime          "{format}"
            datetime          "#[bg=$bg0,fg=$mauve]#[bg=$mauve,fg=$crust] #[bg=$surface1,fg=$mauve,bold] {format} #[bg=$bg0,fg=$surface1]"
            datetime_format   "%Y-%m-%d 󰅐 %H:%M"
            datetime_timezone "Asia/Seoul"
        }
    }
    pane
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
    // 디폴트 swap-layout 덤프
    // zellij setup --dump-swap-layout default | pbcopy
    tab_template name="ui" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    // PreviousSwapLayout/NextSwapLayout 으로 사용될 layout
    swap_tiled_layout name="vertical" {
        ui max_panes=5 {
            pane split_direction="vertical" {
                pane
                pane { children; }
            }
        }
        ui max_panes=8 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
            }
        }
        ui max_panes=12 {
            pane split_direction="vertical" {
                pane { children; }
                pane { pane; pane; pane; pane; }
                pane { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="horizontal" {
        ui max_panes=5 {
            pane
            pane
        }
        ui max_panes=8 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
        ui max_panes=12 {
            pane {
                pane split_direction="vertical" { children; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
                pane split_direction="vertical" { pane; pane; pane; pane; }
            }
        }
    }

    swap_tiled_layout name="stacked" {
        ui min_panes=5 {
            pane split_direction="vertical" {
                pane
                pane stacked=true { children; }
            }
        }
    }

    swap_floating_layout name="staggered" {
        floating_panes
    }

    swap_floating_layout name="enlarged" {
        floating_panes max_panes=10 {
            pane { x "5%"; y 1; width "90%"; height "90%"; }
            pane { x "5%"; y 2; width "90%"; height "90%"; }
            pane { x "5%"; y 3; width "90%"; height "90%"; }
            pane { x "5%"; y 4; width "90%"; height "90%"; }
            pane { x "5%"; y 5; width "90%"; height "90%"; }
            pane { x "5%"; y 6; width "90%"; height "90%"; }
            pane { x "5%"; y 7; width "90%"; height "90%"; }
            pane { x "5%"; y 8; width "90%"; height "90%"; }
            pane { x "5%"; y 9; width "90%"; height "90%"; }
            pane focus=true { x 10; y 10; width "90%"; height "90%"; }
        }
    }

    swap_floating_layout name="spread" {
        floating_panes max_panes=1 {
            pane {y "50%"; x "50%"; }
        }
        floating_panes max_panes=2 {
            pane { x "1%"; y "25%"; width "45%"; }
            pane { x "50%"; y "25%"; width "45%"; }
        }
        floating_panes max_panes=3 {
            pane focus=true { y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; }
            pane { x "50%"; y "1%"; width "45%"; }
        }
        floating_panes max_panes=4 {
            pane { x "1%"; y "55%"; width "45%"; height "45%"; }
            pane focus=true { x "50%"; y "55%"; width "45%"; height "45%"; }
            pane { x "1%"; y "1%"; width "45%"; height "45%"; }
            pane { x "50%"; y "1%"; width "45%"; height "45%"; }
        }
    }
}
