layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane {
                command "astroterm"
                args "--color" "--constellations" "--speed" "1000" "--fps" "64" "--city" "seoul"
            }
            pane {
                command "asciiquarium"
            }
        }
        pane split_direction="horizontal" {
            pane command="cacafire"
            pane command="cmatrix"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}

