layout {
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar" {
            format_left "{mode} #[fg=#89B4FA,bold]{session}"
            format_center "{tabs}"
        }
    }
    pane split_direction="vertical" {
        pane {
            cwd "~/workspace/"
            command "musikcube"
            args ""
        }
        pane split_direction="horizontal" {
            pane command="cava" {
                cwd "~/workspace/"
                args ""
            }
            pane command="~/.cargo/bin/scope-tui" {
                cwd "~/workspace/"
                args "audio"
            }
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
