layout {
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar" {
            format_left "{mode} #[fg=#89B4FA,bold]{session}"
            format_center "{tabs}"
        }
    }
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane {
                command "astroterm"
                args "--color" "--constellations" "--speed" "1000" "--fps" "64" "--city" "seoul" "-u" "-r" "3"
            }
            pane {
                command "asciiquarium"
            }
        }
        pane split_direction="horizontal" {
            pane command="cacafire"
            pane command="cmatrix"
        }
    }
    floating_panes {
        pane {
            // 새로운 zellij layout 실행시 prompt(interactive) 시작되지 않기 때문에 .zprofile 만 로딩되고 .zshrc 을 로딩되지 않는다.
            // PATH 환경변수도 설정정이라 full path 명시
            // go install github.com/maaslalani/confetty@latest
            command "/Users/ysoftman/workspace/gopath/bin/confetty"
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar" {
            format_left "{mode} #[fg=#89B4FA,bold]{session}"
            format_center "{tabs}"
        }
    }
}

