///////////////////// ysoftman custom settings /////////////////////
// zellij 새 버전이 나오면 기본 설정파일 생성 후 필요한 부분만 가져와서 수정
// zellij setup --dump-config > default_configd.kdl
//
// debug log 확인
// zellij --debug
//
// mac 기준 $TMPDIR 아래 다음과 같은 로그파일 생성이 된다.
// tail -F $TMPDIR/zellij-501/zellij-log/zellij.log

layout {
    pane split_direction="vertical" {
        pane
        pane split_direction="horizontal" {
            pane
            pane
        }
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
}

keybinds {
    session {
        // vim ctrl-o 겹쳐서 ctrl-e 로 변경
        unbind "Ctrl o"
        bind "Ctrl e" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "d" { Detach; }
        bind "w" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
    shared_except "locked" {
        bind "Ctrl g" { SwitchToMode "Locked"; }
        bind "Ctrl q" { Quit; }
        bind "Alt n" { NewPane; }
        // vim 설정값과 중복
        //bind "Alt f" { ToggleFloatingPanes; }
        //bind "Alt i" { MoveTab "Left"; }
        //bind "Alt o" { MoveTab "Right"; }
        unbind "Alt f"
        unbind "Alt i"
        unbind "Alt o"
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
    }
}

// built-in themes https://zellij.dev/documentation/theme-list.html
theme "dracula"
